@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-background text-foreground antialiased;
}

.container {
  @apply max-w-6xl mx-auto px-4;
}
